Repository jkawamoto/onednn-src: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.2
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: dprint
        name: run dprint
        entry: dprint fmt
        language: system
        files: \.(toml|md)$
        types: [text]
      - id: rustfmt
        name: run rustfmt
        entry: cargo fmt --
        language: system
        files: \.rs$
        types: [text]

feat: add CI workflows for build and release, update Cargo.toml and mise.toml
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .mise.toml
  Cargo.toml
Due: dprint

docs: add build badge to README.md
  README.md
Due: dprint

docs: update README with detailed licensing information
  README.md
Due: dprint

docs: update README and lib.rs with usage and feature details for oneDNN
  README.md
  src/lib.rs
Due: dprint, rustfmt

chore: update Cargo.toml to specify included files for packaging
  Cargo.toml
Due: dprint

chore: integrate uv tool for pre-commit tasks and add version bumping configuration
  .bumpversion.toml
  .mise.toml
Due: dprint

Bump version: 0.1.0 → 0.1.1
  .bumpversion.toml
  Cargo.toml
  README.md
  src/lib.rs
Due: dprint, rustfmt

feat: add metadata for INCLUDE_PATH and LIBRARY_PATH in build script
  build.rs
Due: rustfmt

Bump version: 0.1.1 → 0.1.2
  .bumpversion.toml
  Cargo.toml
  README.md
  src/lib.rs
Due: dprint, rustfmt

docs: update README and lib.rs to include badges and expanded environment variable details
  README.md
  src/lib.rs
Due: dprint, rustfmt

refactor: use `feature_to_str` macro in build script to simplify feature handling
  build.rs
Due: rustfmt

feat: add `dev` feature support in Cargo, build script, and README
  Cargo.toml
  README.md
  build.rs
Due: dprint, rustfmt

feat: add `armpl` feature support in Cargo, build script, and README
  Cargo.toml
  README.md
  build.rs
Due: dprint, rustfmt

feat: remove `training` as default feature in Cargo.toml and update README accordingly
  Cargo.toml
  README.md
Due: dprint

chore: update yamlfmt to v0.18.1 and exclude oneDNN from pre-commit checks
  .pre-commit-config.yaml
Due: none

chore: add funding configuration to GitHub
  .github/FUNDING.yml
Due: none

chore: add DOCS_RS environment variable to build script for conditional builds
  build.rs
Due: rustfmt

chore: add build and doc tasks to .mise.toml
  .mise.toml
Due: dprint

docs: replace inline crate documentation with README.md and update LICENSE link in README
  .bumpversion.toml
  README.md
  src/lib.rs
Due: dprint, rustfmt

Bump version: 0.1.2 → 0.1.3
  .bumpversion.toml
  .mise.toml
  Cargo.toml
  README.md
Due: dprint

chore: update yamlfmt to v0.20.0 in pre-commit config
  .pre-commit-config.yaml
Due: none

Bump version: 0.1.3 → 0.1.4
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint

chore: add post dependencies for pre-commit-update and bump tasks
  .mise.toml
Due: dprint

Bump version: 0.1.4 → 0.1.5
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint

Bump version: 0.1.5 → 0.1.6
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint

chore: update yamlfmt to v0.21.0 and reorganize task definitions
  .mise.toml
  .pre-commit-config.yaml
Due: dprint

Bump version: 0.1.6 → 0.1.7
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint

chore: update GitHub Actions to latest versions
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: none

Bump version: 0.1.7 → 0.1.8
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint

Bump version: 0.1.8 → 0.1.9
  .bumpversion.toml
  Cargo.toml
  README.md
Due: dprint
